#tagline {
	height: 68px;
	width: 641px;
	z-index:200;
	-webkit-backface-visibility: hidden;
}

.tag1{
	background: url("images/tagline.png") no-repeat 0 0 transparent;
	position:absolute;
	width: 324px;
	height: 100%;
	left:-900px;
	z-index:200;
	-webkit-transform: scale(0.9);
	-ms-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-o-transform: scale(0.9);
	transform: scale(0.9);
	-webkit-backface-visibility: hidden;
}

.trigger {
	padding: 22px;
	margin: -22px;
	-webkit-backface-visibility: hidden;
}
.tag2{
	background: url("images/tagline.png") no-repeat -328px 0 transparent;
	position: relative;
	width:316px;
	height:100%;
	left: -900px;
	z-index:200;
	-webkit-transform: scale(0.9);
	-ms-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-o-transform: scale(0.9);
	transform: scale(0.9);
	-webkit-backface-visibility: hidden;
}
 
 .trigger1:hover {
 	background: url("images/bottle-mojoboost-hover.png") no-repeat -2px -2px transparent;
 }

 .trigger2:hover {
 	background: url("images/bottle-mojochil-hoverl.png") no-repeat 0 0 transparent;
 }

 .trigger3:hover {
 	background:url("images/bottle-mojofocus-hover.png") no-repeat -3px -3px transparent;
 }

 .trigger4:hover {
 	background: url("images/bottle-mojo1-hover.png") no-repeat -6px -6px transparent;
 }

