/* CSS Document */

*{
	margin:0px;
	padding:0px;
}

@font-face {
font-family:Arista;
src:url(fonts/[z] Arista light_A.ttf);
}

@font-face {
font-family:"Arista 2.0 Light";
src:url(fonts/Arista2.0 light_A.ttf);
}

body {
	background:#f2f2f2;
}

.clearboth {
	clear:both;
}

#container {
	margin:0 auto;
	overflow:hidden;
}

#bg-banner {
	background:url(images/bg-banner.jpg) top center no-repeat;
	overflow:hidden;
	height:743px;
}

#bg-banner-sub {
	background:url(images/bg-bannersub.jpg) top center no-repeat;
	overflow:hidden;
	height:206px;
}

#bg-menu {
	background:url(images/bg-menu.png) top center no-repeat;
	overflow:hidden;
	height:152px
}

#top-container {
	width:960px;
	margin:0 auto;
}

	#top-left {
		float:left;
		width:200px;
	}
	
		#logo {
			width:186px;
			padding:15px 0px 0px 0px;	
		}
	
	#top-right {
		float:right;
		width:710px;
	}
	
	
		nav {
			margin:0px auto 0 auto; 
			text-align:center;
		}
		
		nav ul ul {
			display:none;
		}
		
			nav ul li:hover > ul {
				display:block;
			}

		nav ul { 
			padding:0 20px; 
			list-style:none;
			position:relative;
			display:inline-table;
		}
			nav ul:after {
				content: "";
				clear:both;
				display:block;
			}
		
			nav ul li {
				float:left;
			}
				nav ul li:hover {
					
				}
					nav ul li:hover a {
						color:#fff562;
					}
				
				nav ul li a {
					display:block;
					padding:18px 20px 15px 20px;
					color:#fff;
					text-decoration:none;
					font-family:Arista, Helvetica, Arial, sans-serif;
					font-weight:normal;
					font-size:15px;
					text-transform:uppercase;
				}		
				
			nav ul ul {
				background:#1cccf5;
				padding:0;
				position:absolute;
				top:100%;
				width:160px;
			}
				nav ul ul li {
					float:none; 
					border-top:1px solid #1bc1e8;
					border-bottom:1px solid #1bc1e8;
					position:relative;
					color:#fff;
				}
					nav ul ul li a {
						padding:8px 20px 8px 20px;
						font-family:Verdana, Geneva, sans-serif;
						font-weight:normal;
						font-size:12px;
						text-decoration:none;
						text-transform:none;
						color:#fff;
					}	
					
						nav ul ul li a:hover {
							background:#26b1d7;
						}
				
			nav ul ul ul {
				position:absolute;
				left:100%;
				top:0;
			}
			
	#banner {
		width:960px;
		margin:0 auto;
	}
	
	#tagline {
		position:absolute;
		z-index:5;
		margin:0px 0px 0px 80px;
	}
	
	#tagline-sub {
		position:absolute;
		z-index:5;
		margin:-30px 0px 0px 650px;
	}
	
	#tagline-sub-terms {
		position:absolute;
		z-index:5;
		margin:-30px 0px 0px 470px;
	}
	
	#tagline-sub-privacy {
		position:absolute;
		z-index:5;
		margin:-30px 0px 0px 590px;
	}
	
	#tagline-sub-faqs {
		position:absolute;
		z-index:5;
		margin:-30px 0px 0px 780px;
	}
	
	#tagline-sub-contact {
		position:absolute;
		z-index:5;
		margin:-30px 0px 0px 760px;
	}
	
	#bg-content {
		background:#f2f2f2;
	}
	
	#content-area {
		width:960px;
		margin:0 auto;
		padding:30px 0px 30px 0px;
	}
	
	#content-left {
		float:left;
		width:670px;
		margin:0px 40px 0px 0px;
	}
	
	#content-right {
		float:left;
		width:250px;
	}
	
	
		#content-area-a {
			float:left;
			width:290px;
			margin:0px 30px 0px 0px;
		}
		
			.content-col-text {
			
			}
			
				.content-col-text h1 {
					font-family:"Arista 2.0 Light", Helvetica, Arial, sans-serif;
					font-weight:bold;
					font-size:24px;
					color:#316c94;
					text-align:left;
					padding:0px 0px 10px 0px;
				}
				
				.content-col-text p {
					font-weight:normal;
					font-size:11px;
					font-family:Verdana, Geneva, sans-serif;
					text-align:left;
					line-height:1.5em;
					color:#666666;
					padding:0px 0px 15px 0px;
				}
					
		
		#content-area-b {
			float:left;
			width:290px;
			margin:0px 30px 40px 0px;
		}
		
		#content-area-c {
			float:left;
			width:290px;
			margin:0px 0px 40px 0px;
		}
		
		.grayline {
			border-bottom:5px solid #dfdfdf;
			margin:0px 0px 10px 0px;
		}
		
#bg-footer {
	background:url(images/bg-footer.jpg) repeat-x;
}

	#footer {
		width:960px;
		margin:0 auto;
	}
	
		#footer-left {
			float:left;
			width:200px;
		}
		
			#footer-links {
				padding:0px 0px 0px 0px;
			}
			
				#footer-links a {
					font-weight:normal;
					font-size:10px;
					color:#ffffff;
					text-transform:uppercase;
					text-decoration:none;
					font-family:Verdana, Geneva, sans-serif;
					line-height:2.5em;
				}
				
				#footer-links a:hover {
					text-decoration:underline;
				}
				
				#footer-links span {
					font-weight:normal;
					font-size:10px;
					color:#ffffff;
					font-family:Verdana, Geneva, sans-serif;
					padding:0px 10px 0px 10px;
				}
				
				#footer-links p {
					font-weight:normal;
					font-size:10px;
					color:#ffffff;
					font-family:Verdana, Geneva, sans-serif;
					padding:0px 0px 30px 0px;
				}
		
		#footer-right {
			float:right;
			width:750px;
			padding:25px 0px 0px 0px;
			text-align:right;
		}
		
.bubbleInfo {
	position:relative;
	left:100px;
	width:400px;
	z-index:50;
	top:150px;
}

.bubbleInfo2 {
	position:relative;
	left:300px;
	width:400px;
	z-index:40;
	top:150px;
}

.bubbleInfo3 {
	position:relative;
	left:500px;
	width:400px;
	z-index:30;
	top:150px;
}

.bubbleInfo4 {
	position:relative;
	left:695px;
	width:400px;
	z-index:10;
	top:20px;
}

.trigger {
	position: absolute;
	z-index:-10;
}

/* Bubble pop-up */

.popup {
	position: absolute;
	display: none;
	z-index:100;
	border-collapse: collapse;
}

.popup td.corner {
	height: 15px;
	width: 19px;
}

.popup td#topleft { background-image: url(images/bubble-1.png); }
.popup td.top { background-image: url(images/bubble-2.png); }
.popup td#topright { background-image: url(images/bubble-3.png); }
.popup td.left { background-image: url(images/bubble-4.png); }
.popup td.right { background-image: url(images/bubble-5.png); }
.popup td#bottomleft { background-image: url(images/bubble-6.png); }
.popup td.bottom { background-image: url(images/bubble-7.png); text-align:center;}
.popup td.bottom img { display: block; margin: 0 auto; }
.popup td#bottomright { background-image: url(images/bubble-8.png); }

.popup table.popup-contents {
	font-size:11px;
	line-height:1.5em;
	background-color:#fff;
	font-weight:normal;
	color:#666;
	font-family:Verdana, Geneva, sans-serif;
}

table.popup-contents th {
	text-align:left;
	text-transform:none;
	font-size:11px;
	font-weight:normal;
	color:#666;
	font-family:Verdana, Geneva, sans-serif;
}

table.popup-contents th span {
	text-align:left;
	font-weight:bold;
	text-transform:none;
	font-size:11px;
	color:#C03;
	font-family:Verdana, Geneva, sans-serif;
}

table.popup-contents td {
	text-align: left;
}

tr#release-notes th {
	text-align: left;
	text-indent: -9999px;
	height: 17px;
}

tr#release-notes td a {
	color: #333;
}

	.sub-contents {
		margin:0px 0px 30px 0px;
	}
	
		.sub-contents h1 {
			font-family:"Arista 2.0 Light", Helvetica, Arial, sans-serif;
			font-size:30px;
			font-weight:bold;
			color:#316c94;
			text-align:left;
			padding:0px 0px 5px 0px;
		}
		
		.sub-contents h2 {
			font-family:Verdana, Geneva, sans-serif;
			font-weight:bold;
			font-size:16px;
			color:#17a6ce;
			text-align:left;
			padding:0px 0px 10px 0px;
		}
		
		.sub-contents h3 {
			font-family:Verdana, Geneva, sans-serif;
			font-size:12px;
			line-height:1.5em;
			font-weight:bold;
			color:#c81d72;
			padding:0px 0px 5px 0px;
			text-transform:uppercase;
		}
		
		.sub-contents p {
			font-family:Verdana, Geneva, sans-serif;
			font-size:12px;
			line-height:1.5em;
			font-weight:normal;
			color:#666666;
			padding:0px 0px 15px 0px;
		}
		
		.sub-contents ul {
			list-style:none;
		}
		
		.sub-contents li {
			padding:0px 0px 15px 0px;
			font-family:Verdana, Geneva, sans-serif;
			font-size:12px;
			line-height:1.5em;
			font-weight:normal;
			color:#666666;
			list-style:circle;
			list-style-position:inside;
		}
		
		.sub-contents a {
			font-family:Verdana, Geneva, sans-serif;
			font-size:12px;
			line-height:1.5em;
			font-weight:normal;
			color:#036;
			padding:0px 0px 15px 0px;
		}
		
		.sub-contents a:hover {
			text-decoration:none;
		}
			
.form {
	
}

	.form label {
		font-family:Verdana, Geneva, sans-serif;
		font-size:11px;
		line-height:1.5em;
		font-weight:normal;
		color:#666666;
		text-align:right;
		float:right;
		padding:0px 20px 0px 0px;
	}
	
	.form td {
		padding:5px 0px 5px 0px;
	}
	
.table-comparison {
	margin:20px 0px 20px 0px;
}

	.table-comparison h1 {
		font-family:Verdana, Geneva, sans-serif;
		font-size:11px;
		line-height:1.5em;
		font-weight:bold;
		color:#fff;
		text-transform:uppercase;
		padding:11px;
	}
	
	.table-comparison b {
		font-family:Verdana, Geneva, sans-serif;
		font-size:12px;
		line-height:1.5em;
		font-weight:bold;
		color:#c81d72;
	}
	
	.table-comparison p {
		font-family:Verdana, Geneva, sans-serif;
		font-size:12px;
		line-height:1.5em;
		font-weight:normal;
		color:#666666;
		padding:11px;
	}
	
	.table-comparison span {
		color:#b11c1c;
		font-weight:bold;
		font-family:Verdana, Geneva, sans-serif;
		font-size:12px;
		line-height:1.5em;
		padding:11px;
	}
	
.drink-mixes {
	margin:20px 0px 20px 0px;
}

	.drink-mixes h1 {
		font-family:Verdana, Geneva, sans-serif;
		font-size:11px;
		line-height:1.5em;
		font-weight:bold;
		color:#fff;
		text-transform:uppercase;
		padding:3px;
	}
	
	.drink-mixes b {
		font-family:Verdana, Geneva, sans-serif;
		font-size:11px;
		line-height:1.5em;
		font-weight:bold;
		color:#c81d72;
	}
	
	.drink-mixes p {
		font-family:Verdana, Geneva, sans-serif;
		font-size:11px;
		line-height:1.5em;
		font-weight:normal;
		color:#666666;
		padding:3px;
	}
	
	.drink-mixes span {
		color:#b11c1c;
		font-weight:bold;
		font-family:Verdana, Geneva, sans-serif;
		font-size:11px;
		line-height:1.5em;
		padding:3px;
	}			
						
			
			